<style>
main {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.structureImg {
	position: relative;
	padding: 5px 0 0;
}

img {
	display: block;
	min-height: 40px;
}

img:after {
  content: "No image file found.";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0;
  border: dashed 1px #999;
  background: #EEE;
  color: #999;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
}
</style>
<div class="structureImg">
  <img src="/glycans/{{acc}}/image?style=extended&amp;format=png&amp;notation=iupac" alt="Structure image for {{acc}}" />
  <!-- <img src="https://glytoucan.org/glycans/{{acc}}/image?style=extended&amp;format=png&amp;notation=iupac" alt="Structure image for {{acc}}" /> -->
</div>
